<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OPEN ID Connect Test</title>
</head>
<body>

Returns: <br/>

<p th:text="${sb}">name</p>

<form action="https://login.microsoftonline.com/patrickcai.onmicrosoft.com/oauth2/v2.0/token" method="post">
	Code : <input type="text" name="code" th:value="${code}" />
	<p/>
	Client ID : <input type="text" name="client_id" value="20625ea4-6f61-4bb7-9bda-d0d52637eccd" /> <br/>
	Client Secret : <input type="text" name="client_secret" value="hv8GRLS5JS-ALeChe_e2ISZ_ls~m16l6qQ" /> <br/>
	grant_type : <input type="text" name="grant_type" value="authorization_code" /> <br/>
	Scope : <input type="text" name="scope" value="openid" /> <br/>
	redirect_uri : <input type="text" name="redirect_uri" value="http://localhost:8080/myapp" /> <br/>
	
	<input type="submit" value="submit" /> <br/>

</form>


</body>
</html>